/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

figure,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

.slider {
  height: 460px;
  background-color: pink;
}

.best_item {
  height: 1910px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding: 40px 0 60px;
}

.banner {
  height: 360px;
  box-sizing: border-box;
  padding: 50px 0;
}

.beauty_talk {
  height: 2260px;
  background-color: f5f7f2;
  /* 지울 것. */
  border: 1px solid green;
  padding: 60px 0;
  box-sizing: border-box;
}

.review {
  height: 625px;
  padding: 60px 0;
  box-sizing: border-box;
}

/* footer */
.footer_top {
  height: 270px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4ebdc;
}

.footer_middle {
  height: 42px;
  border-bottom: 1px solid #e4ebdc;
}

.footer_bottom {
  height: 180px;
  padding: 20px 0;
}
