/****** header 공통 ******/
.header {
  height: 123.6px;
  border-bottom: 1px solid #e4ebdc;
  background-color: #ffff;
  box-shadow: 2px 2px 2px 2px #e4ebdc;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

.header_contents {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}

/****** header top ******/
.header_top {
  font-size: 13px;
  height: 30px;
  background-color: #89b03f;
  box-shadow: 1px 1px 1px 1px #e4ebdc;
  line-height: 30px;
  font-weight: bold;
}

.header_top > .header_contents {
  position: relative;
}

/* header_top: left */
.header_top-left::after {
  content: "";
  clear: both;
  display: block;
}

.header_top-left {
  color: #ffff;
}

.header_top-left a,
.header_top-right a {
  color: #ffff;
}

.header_top-left-btn {
  float: left;
  margin-right: 25px;
}

/* header_top: right  */
.header_top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.header_top-right::after {
  content: "";
  clear: both;
  display: block;
}

.header_top-right > li {
  float: right;
  margin-left: 23px;
  padding-left: 10px;
}

/****** header_middle ******/
.header_middle {
  height: 51px;
  padding: 17px 0;
  box-sizing: border-box;
  position: relative;
}

.header_middle::after {
  content: "";
  clear: both;
  display: block;
}

.header_middle-left {
  float: left;
  z-index: 1;
  position: relative;
  top: -3px;
  border: 1px solid black;
}

.header_middle-left i {
  margin: 0 5px;
}

.header_slider {
  width: 210px;
  height: 100%;
  text-align: center;
  float: left;
}

.header_middle-middle {
  float: left;
}

.header_middle-middle img {
  margin: 0 auto;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
}

.header_middle-right {
  width: 200px;
  height: 100%;
  float: right;
}

.header_middle-right input {
  height: 100%;
  float: left;
  z-index: 2;
  position: relative;
  top: -3px;
  border: 1px solid #cbcec7;
  /* border-style: none; */
}

.header_middle-right i {
  float: right;
  height: 100%;
}

.header_middle-right::after {
  content: "";
  clear: both;
  display: block;
}

/****** header_bottom ******/
.header_bottom {
  height: 42.6px;
  color: black;
  font-weight: bold;
}

.header_bottom::after {
  content: "";
  clear: both;
  display: block;
}

.header_bottom > .header_contents {
  padding: 8px 0;
  box-sizing: border-box;
}

.header_bottom-left {
  float: left;
  height: 100%;
  color: #222222;
}

.header_bottom-left::after {
  content: "";
  clear: both;
  display: block;
}

.header_bottom-left > li {
  float: left;
  margin-right: 50px;
}

/* .header_bottom-left > li:hover {
  color: #89b03f;
  border-bottom: 5px solid #89b03f;
} */

.event_image {
  position: relative;
  top: -7px;
}

.header_middle-icon {
  float: right;
  margin-right: 10px;
}

.header_middle-ico::after {
  content: "";
  clear: both;
  display: block;
}

.header_middle-icon > div {
  float: right;
  width: 22px;
  height: 20px;
  background-color: #89b03f;
  color: #ffff;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
