<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout4-float.css" />
    <title>가로유형4</title>
  </head>
  <body>
    <!-- 06B-2 -->
    <div id="wrap">
      <header class="header a_w">
        <h1 class="logo s_w a_h">logo</h1>
        <nav class="header_nav n_s"></nav>
      </header>
      <figure class="figure a_w"></figure>
      <section class="contents a_w">
        <article class="content a_h">1</article>
        <article class="content a_h">2</article>
        <article class="content a_h">3</article>
      </section>
      <footer class="footer a_w">
        <div class="footer-left">copyright</div>
        <div class="footer-right">
          <div class="footer-right_top s_w">sns</div>
          <div class="footer-right_bottom s_w">패밀리 사이트</div>
        </div>
      </footer>
    </div>
  </body>
</html>
