<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout2-float.css" />
    <title>가로유형2</title>
  </head>
  <body>
    <!-- 03A-3, 05B-1 -->
    <div id="wrap">
      <header class="header a_w h_f-style">
        <h1 class="logo lo_s">logo</h1>
        <nav class="header_nav">nav</nav>
      </header>
      <figure class="slider a_w"></figure>
      <section class="contents a_w">
        <article class="contnet">1</article>
        <article class="contnet">2</article>
        <article class="contnet">3</article>
      </section>
      <footer class="footer a_w h_f-style">
        <h1 class="logo lo_s">logo</h1>
        <nav class="footer_nav f_s">footer_nav</nav>
        <div class="copy f_s">copyright</div>
      </footer>
    </div>
  </body>
</html>
