<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout3-float.css" />
    <title>가로유형3</title>
  </head>
  <body>
    <!-- 04A-4, 08B-4 -->
    <div id="wrap">
      <header class="header a_w h_f-style">
        <h1 class="logo s_box"></h1>
        <nav class="header_nav n_style"></nav>
      </header>
      <figure class="figure a_w"></figure>
      <section class="contents a_w">
        <article class="content">1</article>
        <article class="content">2</article>
        <article class="content">3</article>
      </section>
      <footer class="footer a_w h_f-style">
        <nav class="footer_nav">
          <div class="footer_top n_style"></div>
          <div class="footer_bottom n_style"></div>
        </nav>
        <div class="family_site s_box"></div>
      </footer>
    </div>
  </body>
</html>
