<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout1-1-float.css" />
    <title>세로유형1</title>
  </head>
  <body>
    <!-- 09c-1, 11c-3 -->
    <!-- <div id="wrap">
      <header class="header">
        <h1 class="logo">logo</h1>
        <nav class="header_nav">nav</nav>
      </header>
      <div class="main">
        <figure class="slider">slider</figure>
        <section class="contents">
          <article class="content">1</article>
          <article class="content">2</article>
          <article class="content">3</article>
        </section>
        <footer class="footer">
          <div class="footer_left"></div>
          <div class="footer_right">
            <div class="footer_top f-r_w"></div>
            <div class="footer_bottom f-r_w"></div>
          </div>
      </footer> -->
    </div>
  </body>
</html>
