<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="static_css/static_layout1-float.css" /> -->
    <link rel="stylesheet" href="static_css/static_layout1-main-flex.css" />
    <title>가로유형1</title>
  </head>
  <body>
    <!-- 0A-1, 02A-2, 07B-3 -->
    <!-- <div id="wrap">
      <header class="header">
        <h1 class="small_box logo">logo</h1>
        <nav class="nav">nav</nav>
      </header>
      <figure class="figure">slider</figure>
      <section class="contents">
        <article class="container">container1</article>
        <article class="container">container2</article>
        <article class="container">container3</article>
      </section>
      <footer class="footer">
        <h1 class="small_box logo">logo</h1>
        <div class="small_box sns">sns</div>
      </footer>
    </div> -->

    <div id="wrap">
      <header class="header">
        <div class="logo"></div>
        <nav class="nav"></nav>
      </header>
      <figure class="slider"></figure>
      <section class="contents"></section>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
