<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout1.css" />
    <title>가로유형1</title>
  </head>
  <body>
    <!-- 0A-1, 02A-2, 07B-3 -->
    <div id="wrap">
      <header class="header">
        <h1 class="logo">logo</h1>
        <nav class="nav">nav</nav>
      </header>
      <figure class="figure">slider</figure>
      <section class="contents">
        <article class="container">container1</article>
        <article class="container">container2</article>
        <article class="container">container3</article>
      </section>
      <footer class="footer">
        <h1 class="logo">logo</h1>
        <div class="sns">sns</div>
      </footer>
    </div>
  </body>
</html>
