<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static_css/static_layout1-main-float.css" />
    <!-- <link rel="stylesheet" href="static_css/static_layout1-2.css" /> -->
    <link rel="stylesheet" href="static_css/static_layout1-3.css" />
    <title>세로유형2</title>
  </head>
  <body>
    <!-- 10c-2 -->
    <div id="wrap">
      <header class="header">
        <h1 class="logo">logo</h1>
      </header>
      <div class="main_contents">
        <figure class="slider"></figure>
        <section class="contents">
          <article class="content">1</article>
          <article class="content">2</article>
          <article class="content">3</article>
        </section>
        <!-- <footer class="footer">
          <div class="footer_left"></div>
          <div class="footer_right">
            <div class="footer_r-top"></div>
            <div class="footer_r-bottom"></div>
          </div>
        </footer> -->
        <footer class="footer">
          <div class="footer_logo small"></div>
          <div class="copy"></div>
          <div class="site small"></div>
        </footer>
      </div>
    </div>
  </body>
</html>
